<h1>Lista de alunos:</h1>
<div class="aluno-container">
  {{#each alunos}}
    <div>#{{this.ra}}
      -
      <span class="bold"><a href="/alunos/{{this.ra}}">{{this.nome}}</a></span>
      -
      {{this.nascimento}}
      -
      {{this.id_turma}}
    </div>
  {{/each}}
</div>